/* Tag Selectors */
body {
    background-color: white;
    color: white;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

img {
    width: 11rem;
    height: auto;
}

input {
    width: 80%;
    border: none;
    padding: 0.5rem;
    background-color: transparent;
    color: white;
    font-size: 0.8rem;
}
input:focus {
    outline: none;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li:hover {
    cursor: pointer;
    border-bottom: 0.1rem solid orangered;
}

a {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    font-size: 0.8rem;
}

h1 {
    font-weight: 400;
    line-height: 1.22;
    letter-spacing: -2px;
    font-size: 3.5rem;
    margin-bottom: 0;
}

span {
    display: block;
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    margin-top: 0%;
    animation: spin_words 5s infinite;
}

@keyframes spin_words {
    0% {
        transform: translateY(0%);
    }
    25% {
        transform: translateY(-100%);
    }
    50% {
        transform: translateY(-200%);
    }
    75% {
        transform: translateY(-300%);
    }
    100% {
        transform: translateY(-400%);
    }
}

button {
    color: white;
    margin: 0;
    border-style: none;
    background-color: rgb(34, 34, 34);
    font-size: 0.9rem;
    opacity: 70%;
    padding: 1% 3% 1% 3%;
    border-right: 1.5px solid white;
}
button:hover {
    background-color: orangered;
    opacity: 100;
}
button:focus {
    background-color: orangered;
    opacity: 100;
}

/* Class Selectors */

/* Main Section */
.index-section {
    min-height: 100vh;
    background-image: url("./assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.main-page {
    margin: 0 15% 0 15%;
}

/* Nav Bar */
.nav {
    display: flex;
    border-bottom: 0.01em solid rgba(255, 255, 255, 0.644);
    padding: 1% 0 0.1% 0;
}
.nav-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-img {
    flex: 1;
}
.nav-search {
    flex: 3.4;
}
.nav-logo {
    flex: 4;
    display: flex;
}
.nav-links {
    padding-top: 1.5%;
    display: flex;
    flex: 1;
}

/* Title Section */
.title {
    text-align: center;
    margin: 7rem 0 2rem 0;
}
.words {
    height: 6rem;
    overflow: hidden;
}

/* Search Bar */
.search-bar {
    text-align: center;
    margin: 3rem 0 2rem 0;
}

.buttons {
    font-size: 0;
    margin: 0;
}

button.first-button {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
button.last-button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
}
